<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>www.hairbysarahc.com</title>
    <meta name="description" content="An interactive getting started guide for Brackets.">
    <link rel="stylesheet" href="main.css">
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=League+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen:700' rel='stylesheet' type='text/css'>
    <script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=3a6f9e80-8f3a-0891-0dfb-de4342fa8e6e&c=embed-map-html&u=1464127234" defer="defer" async="async"></script>
</head>



<template name="header">
    <hr>
</template>
<template name="nav">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li>
                        <a href="https://instagram.com/hairbysarahc"><img src="instagram.jpg" alt="Instagram"></a><span class="hover"></span></li>


                    <li>
                        <a href="http://www.tanglespasadena.com/home"><img src="tangles.png" alt="Tangles"></a><span class="hover"></span></li>

                </ul>
            </div>
        </div>
    </nav>
</template>

<body>
    {{> nav}}
    <br>
    <br> {{> carousel}}
    <br>
    <br> {{>table}} {{> map}}
</body>

<template name="carousel">

    <script>
        $(document).ready(function () {
            $('.carousel').carousel()
        });
    </script>

    <h1 id="name"><img src="profile2.jpg" alt="..." class="img-circle">Sarah Castillo</h1>
    <h3 id="no">Email Me @ sasacastillo@hotmail.com<br>Phone Number : (626)-123-456</h3>
    <h2 id="chocolate">Invest In Your Hair You Wear It Every-Day!</h2>

    <div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <center>
                        <img src="manbraid.jpg" alt="..">
                        <div class="carousel-caption">
                            <p>Man Braid</p>
                        </div>
                    </center>
                </div>
                <div class="item">
                    <center>
                        <img src="updo.jpg" alt="...">
                        <div class="carousel-caption">
                            <p>Up-Do With Braids </p>
                        </div>
                    </center>
                </div>
                <div class="item">
                    <center>
                        <img src="pink.jpg" alt="...">
                        <div class="carousel-caption">
                            <p>Messy Bun</p>
                        </div>
                    </center>
                </div>
                <div class="item">
                    <center>
                        <img src="straighten.jpg" alt="...">
                        <div class="carousel-caption">
                            <p>Straighten Hair</p>
                        </div>
                    </center>
                </div>
                <div class="item">
                    <center>
                        <img src="curls.jpg" alt="...">
                        <div class="carousel-caption">
                            <p>Beach Curls</p>
                        </div>
                    </center>
                </div>
                <div class="item">
                    <center>
                        <img src="frenchbraid.jpg" alt="...">
                        <div class="carousel-caption">
                            <p>French Braids</p>
                        </div>
                    </center>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</template>

<template name="table">
    <h2 id="table">Hair Style + Price Range :</h2>


    <table id="red">

        <tr>
            <th>Name</th>
            <th></th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Hair Cuts</td>
            <td> </td>
            <td>$45-$65</td>
        </tr>
        <tr>
            <td>Beach Curls</td>
            <td></td>
            <td>$50-$80</td>
        </tr>
        <tr>
            <td>Ombre</td>
            <td></td>
            <td>$125-$165</td>
        </tr>
        <tr>
            <td>Brazilian Blowout</td>
            <td></td>
            <td>$200-$400</td>
            
        </tr>
    </table>

</template>

<template name="map">
    <center>
        <h3>Get Directions Here!</h3></center>
    <div class="container">
        <center>
            <div style="width:500px;overflow:hidden;height:500px;max-width:100%;">
                <div id="gmap_display" style="height:100%; width:100%;max-width:100%;">
                    <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/streetview?location=34.1447,-118.1535&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
                </div>
            </div>
        </center>
    </div>

    <!-- begin wwww.htmlcommentbox.com -->
    <center>
        <!-- begin wwww.htmlcommentbox.com -->
        <div id="HCB_comment_box" class="container"><a href="http://www.htmlcommentbox.com">Comment Form</a> is loading comments...</div>
        <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
        <script type="text/javascript" id="hcb">
            /*<!--*/
            if (!window.hcb_user) {
                hcb_user = {};
            }(function () {
                var s = document.createElement("script"),
                    l = hcb_user.PAGE || ("" + window.location).replace(/'/g, "%27"),
                    h = "//www.htmlcommentbox.com";
                s.setAttribute("type", "text/javascript");
                s.setAttribute("src", h + "/jread?page=" + encodeURIComponent(l).replace("+", "%2B"));
                if (typeof s != "undefined") document.getElementsByTagName("head")[0].appendChild(s);
            })(); /*-->*/
        </script>
        <!-- end www.htmlcommentbox.com -->
    </center>

</template>