.carousel-control.right,
.carousel-control.left {
    background: none!important;
    filter: progid: none!important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
}

.map-container {
    width: 100%;
    max-width: 100%;
    height: 500px;
}

#gmap_display img {
    max-width: none!important;
    background: none!important;
}

#name {
    color: #DB9D88;
    text-align: center;
    width: 0.75;
    height: 1.75;
    font-family: 'League Script', cursive;
}

#chocolate,
#no {
    text-align: center;
    color: black;
    font-family: 'Amatic SC', cursive;
}

#red {
    text-decoration: center;
    font-family: 'Oxygen', sans-serif;
    color: black;
}

#table {
    text-align: center;
    font-family: 'Wire One', sans-serif;
    color: black;
}

nav {
    background-color: white;
}